<%= form_for(@projct) do |f| %>
  <% if @projct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projct.errors.count, "error") %> prohibited this projct from being saved:</h2>

      <ul>
      <% @projct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br>
    <%= f.text_field :index %>
  </div>
  <div class="field">
    <%= f.label :create %><br>
    <%= f.text_field :create %>
  </div>
  <div class="field">
    <%= f.label :edit %><br>
    <%= f.text_field :edit %>
  </div>
  <div class="field">
    <%= f.label :show %><br>
    <%= f.text_field :show %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
