<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @project.index %>
</p>

<p>
  <strong>Create:</strong>
  <%= @project.create %>
</p>

<p>
  <strong>Show:</strong>
  <%= @project.show %>
</p>

<p>
  <strong>Test:</strong>
  <%= @project.test %>
</p>

<p>
  <strong>Download:</strong>
  <%= @project.download %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
